In [ ]:
# Count time of process
import time
start = time.time()

<b> IMPORT PACKAGE

In [ ]:
import requests
import numpy as np
import pandas as pd
import urllib.request
import os
import time
from datetime import datetime, date, timedelta
from bs4 import BeautifulSoup
from random import randint
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait as wait
from selenium.webdriver.support import expected_conditions as EC
from tqdm import tqdm

<b> CONNECT TO BIGQUERY

<b> CONNECT TO URL (SELENIUM)

In [ ]:
#Chrome Settings
chrome_options = webdriver.chrome.options.Options()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')

In [ ]:
#Get URL
driver = webdriver.Chrome('chromedriver',options=chrome_options)
driver.get("https://www.bi.go.id/id/statistik/informasi-kurs/transaksi-bi/Default.aspx")

<b> LIST OF THE CURRENCY NAME

In [ ]:
### Defined currency list name ###
list_curr = ['AUD  ','CNY  ','EUR  ','JPY  ','MYR  ','SGD  ','THB  ','USD  ']
list_curr_cleaned = list(map(str.strip, list_curr))
print(list_curr_cleaned)

['AUD', 'CNY', 'EUR', 'JPY', 'MYR', 'SGD', 'THB', 'USD']

<b> SET CURRENT DATE

In [ ]:
month = ['Jan','Feb','Mar','Apr','Mei','Jun','Jul','Ags','Sep','Okt','Nov','Des']

In [ ]:
# get date range
currentdate = pd.to_datetime(datetime.today(), format='%d %m %Y')

target_month_year_string = currentdate.strftime("%d-%m-%Y")
print(target_month_year_string)

14-10-2023

<b> CRAWLING PROCESS

In [ ]:
### SET TIME SERIES MENU  ###
wait(driver, 20).until(EC.visibility_of_element_located((By.XPATH, "//select[@id='selectPeriod']/option[@value='harian']"))).click()

In [ ]:
### DATE PICKER ###
# start date
startfield = wait(driver, 20).until(EC.visibility_of_element_located((By.XPATH, "//input[@id='ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_txtTanggal']")))
driver.execute_script("arguments[0].value = '"+target_month_year_string+"';", startfield)

# search button
button_search = wait(driver, 20).until(EC.visibility_of_element_located((By.ID, "ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_btnSearch2")))
driver.execute_script("arguments[0].click();", button_search)
print("Success click the button search!")

Success click the button search!

In [ ]:
### RAW DATA ###
soup = BeautifulSoup(driver.page_source, "html.parser")
table = soup.find('table',{'class':'table table-striped table-no-bordered table-lg'})
rows = table.findAll('tr')

In [ ]:
table

<table class="table table-striped table-no-bordered table-lg">
<thead class="thead color-blue">
<tr class="table-header">
<th class="text-right" scope="col">
                                Mata Uang</th>
<th class="text-right" scope="col">
                                Nilai</th>
<th class="text-right" scope="col">
                                Kurs Jual</th>
<th class="text-right" scope="col">
                                Kurs Beli</th>
<th class="text-right" scope="col">
                                Grafik</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-right">AUD  </td>
<td class="text-right">1</td>
<td class="text-right">10.113,73</td>
<td class="text-right">10.009,97</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl0_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl0$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">BND  </td>
<td class="text-right">1</td>
<td class="text-right">11.583,73</td>
<td class="text-right">11.467,62</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl1_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl1$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">CAD  </td>
<td class="text-right">1</td>
<td class="text-right">11.611,85</td>
<td class="text-right">11.492,09</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl2_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl2$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">CHF  </td>
<td class="text-right">1</td>
<td class="text-right">17.510,55</td>
<td class="text-right">17.328,63</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl3_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl3$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">CNH  </td>
<td class="text-right">1</td>
<td class="text-right">2.162,75</td>
<td class="text-right">2.141,00</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl4_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl4$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">CNY  </td>
<td class="text-right">1</td>
<td class="text-right">2.162,10</td>
<td class="text-right">2.140,41</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl5_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl5$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">DKK  </td>
<td class="text-right">1</td>
<td class="text-right">2.247,78</td>
<td class="text-right">2.225,22</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl6_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl6$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">EUR  </td>
<td class="text-right">1</td>
<td class="text-right">16.763,64</td>
<td class="text-right">16.590,58</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl7_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl7$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">GBP  </td>
<td class="text-right">1</td>
<td class="text-right">19.405,29</td>
<td class="text-right">19.205,96</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl8_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl8$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">HKD  </td>
<td class="text-right">1</td>
<td class="text-right">2.017,76</td>
<td class="text-right">1.997,61</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl9_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl9$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">JPY  </td>
<td class="text-right">100</td>
<td class="text-right">10.579,59</td>
<td class="text-right">10.472,21</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl10_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl10$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">KRW  </td>
<td class="text-right">1</td>
<td class="text-right">11,79</td>
<td class="text-right">11,67</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl11_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl11$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">KWD  </td>
<td class="text-right">1</td>
<td class="text-right">51.072,92</td>
<td class="text-right">50.541,83</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl12_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl12$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">LAK  </td>
<td class="text-right">1</td>
<td class="text-right">0,77</td>
<td class="text-right">0,76</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl13_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl13$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">MYR  </td>
<td class="text-right">1</td>
<td class="text-right">3.346,16</td>
<td class="text-right">3.310,06</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl14_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl14$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">NOK  </td>
<td class="text-right">1</td>
<td class="text-right">1.452,20</td>
<td class="text-right">1.437,34</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl15_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl15$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">NZD  </td>
<td class="text-right">1</td>
<td class="text-right">9.468,31</td>
<td class="text-right">9.367,84</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl16_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl16$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">PGK  </td>
<td class="text-right">1</td>
<td class="text-right">4.418,54</td>
<td class="text-right">4.093,35</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl17_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl17$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">PHP  </td>
<td class="text-right">1</td>
<td class="text-right">278,51</td>
<td class="text-right">275,64</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl18_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl18$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">SAR  </td>
<td class="text-right">1</td>
<td class="text-right">4.207,35</td>
<td class="text-right">4.165,04</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl19_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl19$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">SEK  </td>
<td class="text-right">1</td>
<td class="text-right">1.446,88</td>
<td class="text-right">1.432,09</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl20_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl20$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">SGD  </td>
<td class="text-right">1</td>
<td class="text-right">11.583,73</td>
<td class="text-right">11.467,62</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl21_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl21$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">THB  </td>
<td class="text-right">1</td>
<td class="text-right">436,17</td>
<td class="text-right">431,71</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl22_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl22$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">USD  </td>
<td class="text-right">1</td>
<td class="text-right">15.780,51</td>
<td class="text-right">15.623,49</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl23_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl23$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
<tr>
<td class="text-right">VND  </td>
<td class="text-right">1</td>
<td class="text-right">0,65</td>
<td class="text-right">0,64</td>
<td class="text-right">
<input alternatetext="graph" autopostback="True" class="btn" id="ctl00_PlaceHolderMain_g_6c89d4ad_107f_437d_bd54_8fda17b556bf_ctl00_ListViewKurs_ctrl24_btnGraphImage" name="ctl00$PlaceHolderMain$g_6c89d4ad_107f_437d_bd54_8fda17b556bf$ctl00$ListViewKurs$ctrl24$btnGraphImage" onclick="SetSource(this.id);" style="background: #045498; color: white" type="submit" value="Lihat"/>
</td>
</tr>
</tbody>
</table>

In [ ]:
#Close driver
driver.close()

In [ ]:
type(rows)

bs4.element.ResultSet

In [ ]:
### CONVERT TO DATAFRAME ###
result = {'currency':[],
          'amount':[],
          'sell_rate':[],
          'buy_rate':[]}

for row in rows[1:]:
    cols = row.findAll('td')
    result['currency'].append(cols[0].text.lstrip().rstrip())
    result['amount'].append(cols[1].text.lstrip().rstrip())
    result['sell_rate'].append(cols[2].text.lstrip().rstrip())
    result['buy_rate'].append(cols[3].text.lstrip().rstrip())

result = pd.DataFrame(result)
result['date'] = currentdate.strftime('%Y-%m-%d')
result.tail()

   currency amount  sell_rate   buy_rate        date
20      SEK      1   1.446,88   1.432,09  2023-10-14
21      SGD      1  11.583,73  11.467,62  2023-10-14
22      THB      1     436,17     431,71  2023-10-14
23      USD      1  15.780,51  15.623,49  2023-10-14
24      VND      1       0,65       0,64  2023-10-14

In [ ]:
### CONVERT TO TABULAR FORMAT ###
result_tab = result.melt(id_vars=["currency","date","amount"], var_name="category")

In [ ]:
# sort columns name
result_tab = result_tab[['date','currency','amount','value','category']]

In [ ]:
result_tab['currency'].unique()

array(['AUD', 'BND', 'CAD', 'CHF', 'CNH', 'CNY', 'DKK', 'EUR', 'GBP',
       'HKD', 'JPY', 'KRW', 'KWD', 'LAK', 'MYR', 'NOK', 'NZD', 'PGK',
       'PHP', 'SAR', 'SEK', 'SGD', 'THB', 'USD', 'VND'], dtype=object)

In [ ]:
result_tab

          date currency amount      value   category
0   2023-10-14      AUD      1  10.113,73  sell_rate
1   2023-10-14      BND      1  11.583,73  sell_rate
2   2023-10-14      CAD      1  11.611,85  sell_rate
3   2023-10-14      CHF      1  17.510,55  sell_rate
4   2023-10-14      CNH      1   2.162,75  sell_rate
5   2023-10-14      CNY      1   2.162,10  sell_rate
6   2023-10-14      DKK      1   2.247,78  sell_rate
7   2023-10-14      EUR      1  16.763,64  sell_rate
8   2023-10-14      GBP      1  19.405,29  sell_rate
9   2023-10-14      HKD      1   2.017,76  sell_rate
10  2023-10-14      JPY    100  10.579,59  sell_rate
11  2023-10-14      KRW      1      11,79  sell_rate
12  2023-10-14      KWD      1  51.072,92  sell_rate
13  2023-10-14      LAK      1       0,77  sell_rate
14  2023-10-14      MYR      1   3.346,16  sell_rate
15  2023-10-14      NOK      1   1.452,20  sell_rate
16  2023-10-14      NZD      1   9.468,31  sell_rate
17  2023-10-14      PGK      1   4.418,54  sell_rate
18  2023-10-14      PHP      1     278,51  sell_rate
19  2023-10-14      SAR      1   4.207,35  sell_rate
20  2023-10-14      SEK      1   1.446,88  sell_rate
21  2023-10-14      SGD      1  11.583,73  sell_rate
22  2023-10-14      THB      1     436,17  sell_rate
23  2023-10-14      USD      1  15.780,51  sell_rate
24  2023-10-14      VND      1       0,65  sell_rate
25  2023-10-14      AUD      1  10.009,97   buy_rate
26  2023-10-14      BND      1  11.467,62   buy_rate
27  2023-10-14      CAD      1  11.492,09   buy_rate
28  2023-10-14      CHF      1  17.328,63   buy_rate
29  2023-10-14      CNH      1   2.141,00   buy_rate
30  2023-10-14      CNY      1   2.140,41   buy_rate
31  2023-10-14      DKK      1   2.225,22   buy_rate
32  2023-10-14      EUR      1  16.590,58   buy_rate
33  2023-10-14      GBP      1  19.205,96   buy_rate
34  2023-10-14      HKD      1   1.997,61   buy_rate
35  2023-10-14      JPY    100  10.472,21   buy_rate
36  2023-10-14      KRW      1      11,67   buy_rate
37  2023-10-14      KWD      1  50.541,83   buy_rate
38  2023-10-14      LAK      1       0,76   buy_rate
39  2023-10-14      MYR      1   3.310,06   buy_rate
40  2023-10-14      NOK      1   1.437,34   buy_rate
41  2023-10-14      NZD      1   9.367,84   buy_rate
42  2023-10-14      PGK      1   4.093,35   buy_rate
43  2023-10-14      PHP      1     275,64   buy_rate
44  2023-10-14      SAR      1   4.165,04   buy_rate
45  2023-10-14      SEK      1   1.432,09   buy_rate
46  2023-10-14      SGD      1  11.467,62   buy_rate
47  2023-10-14      THB      1     431,71   buy_rate
48  2023-10-14      USD      1  15.623,49   buy_rate
49  2023-10-14      VND      1       0,64   buy_rate